/* coaches.css */
.body_1 {
  background-color: #000;
  color: #fff;
  font-family: "Crimson Text", serif;
  padding: 20px;
}
.header_1 {
  margin-left: 2em;
}
.coaches {
  color: #a16551;
}

.images_1 {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  object-fit: cover; /* Maintain the entire image within the container */
  object-position: center center; /* Center the image both vertically and horizontally */
  margin-bottom: 20px;
  border-radius: 50px;
}

.images_2 {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 2em;
  border-radius: 50px;
}

.information {
  border: 1px solid #a16551;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.information h2 {
  margin: 1em;
}

.paragraph {
  text-align: center;
}

.become {
  color: #a16551;
}
