/* Default styles */
* {
    margin: 0;
    padding: 0;
    color: white;
  }
  
  .image {
    background-image: url('../assets/home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  h1 {
    color: white;
  }
  
  .header {
    margin-left: 0.5em;
    font-size: 50px;
    font-family: saira;
  }
  
  .champion {
    color: #A16551;
  }
  
  .features {
    background-color: white;
    margin-top: 10%;
    margin-left: 2em;
    margin-right: 2em; /* Adjust the right margin */
    display: flex;
    flex-direction: column; /* Stack items on small screens */
    align-items: center; /* Center items on small screens */
    padding: 40px 10px;
    font-family: saira;
  }
  
  .items {
    color: black;
  }
  
  .info {
    margin-left: 2em;
  }
  
  h2 {
    color: #F83E3E;
    margin-top: 50px;
    margin-right: 2em; /* Adjust the right margin */
  }
  
  p {
    margin-top: 50px;
    margin-right: 2em; /* Adjust the right margin */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  button {
    margin-top: 50px;
    font-size: 16px;
    background-color: white;
    color: #A16551;
    padding: 10px;
  }
  
  /* Media queries for responsiveness */
  @media screen and (max-width: 768px) {
    .features {
      flex-direction: column;
      align-items: center;
      margin: 10% 2em; /* Adjust margins for smaller screens */
      padding: 20px 10px; /* Adjust padding for smaller screens */
    }
  }
  