/* Services.css */
.body {
  background-color: #000000;
  font-family: "Crimson Text", serif;
  padding: 20px;
  text-align: center;
}

.title-container {
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.title {
  font-size: 2rem;
  margin: 0;
}

.paragraphs-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.paragraphs-container p {
  flex-grow: 1;
}

.item {
  border: 1px solid #a16551;
  padding: 20px;
  margin-bottom: 20px;
  color: #222;
  border-radius: 50px;
}

.item h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.item p {
  max-width: 600px;
}

.item_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
  border: 1px solid #a16551;
  padding: 20px;
  color: #222;
  border-radius: 50px;
}

.middle {
  text-align: left;
  margin-left: 40px;
}

.item_2 h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.item_2 p {
  font-size: 1rem;
  max-width: 400px;
}

.item_2 img {
  max-width: 100%;
  height: auto;
  border-radius: 50px;
}

.item_3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
  border: 1px solid #a16551;
  padding: 20px;
  color: #222;
  border-radius: 50px;
}

.item_3 p {
  text-align: left;
  flex-grow: 1;
  max-width: 600px;
}

.item_3 h2 {
  font-size: 1.5rem;
  margin: 10px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.images {
  max-width: 100%;
  height: auto;
  border-radius: 50px;
}
.footer {
  border: 1px solid #a16551;
  border-radius: 50px;
  padding-top: 20px;
}
.footer h2,
p,
.socials {
  padding-left: 20px;
}
.socials {
  margin: 5px;
}

.socials img:hover {
  background-color: rgb(0, 255, 153);
}

.concerns p:hover {
  text-decoration: underline;
}
