/* Add your global styles here */

.body_2 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: black;
} 

.individual {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.rightside {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  color: black;
}

.header button {
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
}

.h1 {
  font-size: 1.5rem;
  margin: 0;
}

.formstyling {
  margin-top: 20px;
}

.exercise-form {
  margin-bottom: 10px;
}

.workouts_info {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  margin-left: 20px;
}

.workout-session {
  margin-bottom: 20px;
}

.workout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.dropdown-arrow {
  font-size: 1.2rem;
  color: black;
}

.exercise-list {
  margin-top: 10px;
}
.exercise-list p {
  color: black;
  text-align: center;
}


