* {
    text-align: left;
    margin: 0;
    padding: 0;
  }
.formstyling {
  width: 50%;
  margin: 0 auto;

}

.formstyling label {
  color: white;
}

.exercise-form label {
  color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #45a049;
}

form {
  display: flex;
  flex-direction: column;
}

.exercise-form {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button[type="button"] {
  background-color: #45a049;
}

.cancel {
  background-color: #c9302c;;
}

button[type="button"]:hover {
  background-color: #c9302c;
}
