Styling for the search input and buttons
input[type="text"], option, select {
  color: #000;
  font-size: 16px;
}
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


/* Styling for the "Results per Page" dropdown */
label select {
  margin-left: 10px;
}
.profile {
  margin: 20px;
  border-radius: 10px;
  background: #d9d9d9;
  width: 100%;
  display: flex;
  gap: 20px;
  width: 100%;
}

#view, .view {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #3503fc;
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
}

#view:hover, .view:hover {
  background-color: #2802c7;
}

.left {
  margin-top: 44px;
}
name {
  font-size: 40px;
  color:#000;

}
name, age, price, gym{ 
  padding-left:30px;
}
age {
  padding-top: 13px;
}

age, experience, ratings, price , gym, specilization{
  color: #000;
  font-family: Saira Condensed;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 32px */
  display: block;
}
price, gym {
  padding-top: 18px;
}
gym {
  padding-bottom:18px;
}

.middle{
  margin-top: 44px;
}

town, email {
  margin:5px 0;
}
email {
  padding-top:5px;
}
location, town, state, contact, email {
  color:#000;
}

.right{
  margin-top: 44px;
  margin-left:36px;
}
.contact {
  display:flex;
  flex-direction:column;  
  font-size:20px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

/* Individual element styling */
.name,
.age,
price,
gym,
town,
state,
email,
experience,
ratings,
bio {
  color: #000;
  font-family: "Saira Condensed", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  padding-top: 10px;
}

input {
  color:black;
  margin:5px;
}
state {
  display: block;
}