.coach-profile-body {
  color: #333;
  background-color: black;
  padding: 20px;
  text-align: center;
}

.coach-profile-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coach-profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.coach-profile-info, 
.coach-profile-additional-info,
.coach-profile-description,
.coach-profile-contact,
.coach-profile-buttons {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coach-profile-info h2,
.coach-profile-contact h2 {
  color: #333;
  margin-bottom: 10px;
  margin-top: 170px;
}

.coach-profile-info-text,
.coach-profile-description p {
  color: black;
  font-size: 24px;
  margin: 5px 0;
  line-height: 1.5;
  text-align: center;
}

.coach-profile-buttons button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

.coach-profile-buttons button:hover {
  background-color: #0056b3;
}

.coach-profile-lightbox {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.coach-profile-form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  position: relative;
}

.coach-profile-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  cursor: pointer;
  color: black;
  background-color: #007bff;
  border-radius: 8px;
  padding: 5px;
  z-index: 1100;
}


.coach-profile-form-container label,
.coach-profile-form-container textarea,
.coach-profile-form-container button {
  width: 100%;
  margin-bottom: 10px;
}


.coach-profile-back-button {
  margin-bottom: 20px;
  align-self: flex-start;
}



