
.messages {
  max-width: 100%;
  margin: auto;
  padding: 20px;
  background-color: black;
  height: 100vh;
}

.content-area {
  margin: 40px auto;
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.messages-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  margin: 0 auto;
  width: auto;
  height: 100%;
  flex: 1;
}

.contacts-list {
  font-family: 'Copperplate', 'Papyrus', fantasy;
  background-color: lightgray;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  margin: 0 auto;
  width: auto;
  flex: 0 0 40%;
}

.contacts-list p {
  font-family: 'Copperplate', 'Papyrus', fantasy;
  color: black;
  cursor: pointer;
  text-align: center;
  margin: 5px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
  width: 80%;
  max-width: 300px;
}

.contacts-list p:hover {
  background-color: lightblue;
}

@media (min-width: 1000px) {
  .content-area {
    flex-direction: row;
    justify-content: center;
  }

  .contacts-list, .messages-container {
    max-width: 45%;
  }
}

.messages-container p {
  font-family: 'Copperplate', 'Papyrus', fantasy;
}

.sender {
  font-weight: bold;
}

.content, .timestamp {
  margin-top: 5px;
}

.timestamp {
  font-size: 0.85em;
  color: #666;
}

.error-message {
  color: red;
  font-weight: bold;
  font-family: 'Copperplate', 'Papyrus', fantasy;
}

.message-form {
  display: flex;
  gap: 10px;
}

.message-input {
  font-family: 'Copperplate', 'Papyrus', fantasy;
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.send-button {
  font-family: 'Copperplate', 'Papyrus', fantasy;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #0056b3;
}


