/* MyProfilePage.css */

.body_1 {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.profile-container {
  max-width: 500px;
}

.profile_info {
  display: flex;
  align-items: center;
  padding: 20px;
}

.img {
  width: 250px;
  height: 250px;
  border-radius: 50%; /* Make the image circular */
  margin-left: 20px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column; /* Stack the child elements vertically */
}

.right h1 {
  margin-bottom: 10px;
}

.right p {
  margin: 5px 0; /* Add some margin to the paragraphs for spacing */
}
